.venv/
__pycache__/
*.py[cod]
.DS_Store
.review/
batches/
versions/
exports/
.photo-review/
.photo-review-server/
project.json
*.sqlite*
*.log
.env
.env.*
.codex/
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[pP][nN][gG]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[mM][pP][oO]
*.[nN][eE][fF]
*.[nN][rR][wW]
*.[cC][rR]2
*.[cC][rR]3
*.[aA][rR][wW]
*.[dD][nN][gG]
*.[rR][aA][fF]
*.[oO][rR][fF]
*.[rR][wW]2
*.[pP][eE][fF]
*.[sS][rR][wW]
*.[mM][oO][vV]
*.[mM][pP]4
*.[mM]4[vV]
*.[aA][vV][iI]
*.[wW][eE][bB][mM]
